language: csharp
solution: csharp_cryptoexamples.sln
install:
  - dotnet tool install --global dotnet-sonarscanner
  - dotnet restore
matrix:
  include:
    - dotnet: 2.1
      mono: none
      env: DOTNETCORE=1  # optional, can be used to take different code paths in your script
addons:
  sonarcloud:
    organization: "kmindi-github" # the key of the org you chose at step #3
  branches:
    - master
    - sonarcloud-config

before_script:
  - export PATH="$PATH:$HOME/.dotnet/tools"
script:
  - dotnet sonarscanner begin /k:"csharp-cryptoexamples" /d:sonar.host.url="https://sonarcloud.io" /d:sonar.login="$SONAR_TOKEN" /d:sonar.language="cs" /d:sonar.exclusions="**/bin/**/*,**/obj/**/*" /d:sonar.cs.opencover.reportsPaths="lcov.opencover.xml" || true
  - dotnet build csharp_cryptoexamples.sln
  - dotnet test ./csharp_cryptoexamplesTest/csharp_cryptoexamplesTest.csproj /p:CollectCoverage=true /p:CoverletOutputFormat=opencover /p:CoverletOutput=../lcov
  - dotnet sonarscanner end /d:sonar.login="$SONAR_TOKEN" || true
  #- sonar-scanner
  
cache:
  directories:
    - '$HOME/.nuget/packages'
    - '$HOME/.local/share/NuGet/Cache'
    - '$HOME/.sonar/cache'
