language: csharp
solution: csharp_cryptoexamples.sln
install:
  - nuget restore solution-name.sln
  - nuget install xunit.runners -Version 2.0.0 -OutputDirectory testrunner
matrix:
  include:
    - dotnet: 2.1
      mono: none
      env: DOTNETCORE=1  # optional, can be used to take different code paths in your script
addons:
  sonarcloud:
    organization: "kmindi-github" # the key of the org you chose at step #3
script:
  - dotnet build csharp_cryptoexamples.sln
  - sonar-scanner

  - xbuild /p:Configuration=Release csharp_cryptoexamples.sln
  - dotnet ./testrunner/xunit.runners.2.0.0/tools/xunit.console.clr4.exe ./csharp-cryptoexamplesTest/bin/Debug/csharp_cryptoexamplesTest.dll